<div class="container">
  <div class="starter-template pull-left">
        <ul>
            <% @players.each do |key, array| %>
            <li><div class="player"><img class="avatar" src='<%= array[:avatarurl] %>'><strong><%= array[:personaname] %></strong> (<%= key %>)</div><%= image_tag "gnk_logo.jpg", class: @gnk_class %><%= image_tag "bnw_logo.jpg", class: @bnw_class %><%= image_tag "scram_logo.jpg", class: @scram_class %><%= image_tag "scram_n_logo.jpg", class: @scram_n_class %><%= image_tag "baby_logo.jpg", class: @baby_class %><br><%= image_tag "med_logo.jpg", class: @med_class %><%= image_tag "asia_logo.jpg", class: @asia_class %><%= image_tag "amer_logo.jpg", class: @amer_class %><%= image_tag "meso_logo.jpg", class: @meso_class %><%= image_tag "spain_logo.jpg", class: @spain_class %><br><%= image_tag "poly_logo.jpg", class: @poly_class %><%= image_tag "den_logo.jpg", class: @den_class %><%= image_tag "expl_logo.jpg", class: @expl_class %><%= image_tag "scen_logo.jpg", class: @scen_class %><%= image_tag "kor_logo.jpg", class: @kor_class %></li><br>
            <% end %>
        </ul>
  </div>
</div>